<nav class="shadow-sm base-bg">
  <div class="d-flex">
    <div class="p-4">
      <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
</nav>


<div class="offcanvas vh-100 shadow" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">

  <div class="d-flex mt-4 justify-content-end container mb-0">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-header pt-0 justify-content-center px-5">
    <img src="./assets/images/logo.png" alt="" width="50" height="50">
  </div>
  <hr class="p-0 m-0">
  <div class="offcanvas-body">
    <div class="d-flex flex-column align-items-center gap-3">

      <div class="card col-md-9 card-menu">
        <div class="card-body">
          <a class="text-decoration-none text-dark" href="index.php">
            <div class="d-flex flex-column align-items-center gap-2 card-menu-items ">
              <i class="fas fa-wallet"></i>
              <small class="fw-bold">Cashier</small>
            </div>
          </a>
        </div>
      </div>

      <div class="card col-md-9 card-menu">
        <div class="card-body">
          <a class="text-decoration-none text-dark" href="sales.php">
            <div class="d-flex flex-column align-items-center gap-2 card-menu-items">
              <i class="fas fa-display"></i>
              <small class="fw-bold">Sales</small>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>