/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.card-menu:hover{
  background-color: #003049 !important;
  color: #fff !important;
}

.card-menu:hover .card-menu-items{
  color: #fff !important;
}

.card-group {
  display: flex;
}